In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from lifelines import *
from datetime import date
from datetime import datetime

%matplotlib inline

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 500)

In [3]:
today = datetime.today().strftime('%Y-%m-%d')
last = '2019-11-17'

In [4]:
xl = pd.ExcelFile("data.xlsx") # Current Employees
x2 = pd.ExcelFile("data.xlsx") # Former Employees (2017 onwards)
xl.sheet_names

['Sheet1']

In [5]:
x2.sheet_names

In [6]:
current_employees = xl.parse("Sheet1")
former_employees = x2.parse("Sheet1")

,Code,Employee Name,Designation,Technology,Grade,Division,Departments,Type,Gender,Employment Status,Contract Letters,IGI Card,3rd Level Identifier (HR Use),Last Promoted in,Joining Date in Confiz,Other Than Confiz Exp.,Confiz Work Experience (months),Total Work Experience,Last Employer,Bachelor's Degree Title,Year of Bachelor's,Institution of Bachelor's,Master's Degree Title,Year of Master's,Institution of Master's,Employee Mobile #,Employee Confiz email id,Employee Other email id,CNIC #,Emergency Contact Person,Emergengy Contact #,Father's Name,Present Address,Location,Permenant Address,Date of Birth,Marital Status,Blood Group,Previous Designation,Birthday,Bonus Or Commission,Increment Eligibility,Life Insurance,Provident Fund,Basic Salary,Fuel Allowance,Phone Allowance,Internet Allowance,Other Allowance,Current Salary
0,12345,Marine Row,Software Engineer,DevOps,1,Professional Services,Software Engineering,Operation Center,Male,Full Time,NaN,NaN,NaN,2013-09-30,NaT,54,12.0,NaN,NaN,BSCS,2011,FAST,MBA,2016,FAST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Fortress Stadium, Lahore",Lahore,same,1990-09-30,married,NaN,Senior Software Engineer,1990-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59000
1,23456,Iraida Ballesteros,Software Engineer,Machine Learning,2,Professional Services,Software Engineering,Operation Center,Male,Full Time,Not Relevant,Not Relevant,Not Relevant,2013-09-30,NaT,34,14.0,NaN,NaN,BBA,2012,LUMS,MSCS,2018,LUMS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"68, S block, Model town ,Lahore",Lahore,same,1990-09-30,single,NaN,Senior Software Engineer,1990-09-30,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN,76543
2,34567,Marylee Wooden,Software Engineer,Android,3,Professional Services,Software Engineering,Production Core,Male,Full Time,NaN,NaN,NaN,2013-09-30,NaT,34,15.0,NaN,McDonalds,BBA,2013,NUST,MSSE,2016,NUST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mall of Lahore,Lahore,same,1990-09-30,married,NaN,Senior Software Engineer,1990-09-30,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,34567
3,45678,John Doe,Human Resource,Null,4,Human Resources,Human Resources,Production Core,Male,Full Time,NaN,NaN,NaN,2013-09-30,NaT,54,14.0,50.0,KFC,BSCS,2011,"PUCIT, Lahore",MSEE,2014,ITU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Emporium Mall,Lahore,same,1990-09-30,single,NaN,Senior Software Engineer,1990-09-30,15000,Separate Sheet,NaN,NaN,NaN,5000.0,5000.0,3666.0,1244.0,76543
4,56789,Carlee Hambleton,Software Engineer,.Net,2,Software engineering,Software Engineering,Operation Center,Female,Full Time,NaN,NaN,NaN,2013-09-30,2013-09-30,5,16.0,NaN,Mentor,BSEE,2009,LSE,MSCS,2016,FAST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Packages Mall,Lahore,same,1990-09-30,married,NaN,Senior Software Engineer,1990-09-30,NaN,TBD for future cases,not relevant,NaN,NaN,NaN,NaN,NaN,NaN,234567

In [ ]:
current_employees.head()

In [7]:
former_employees.head(10)

In [8]:
current_employees.columns.values

array(['Code', 'Employee Name', 'Designation', 'Technology', 'Grade',
       'Division', 'Departments', 'Type', 'Gender', 'Employment Status',
       'Contract Letters', 'IGI Card', '3rd Level Identifier (HR Use)',
       'Last Promoted in', 'Joining Date in Confiz',
       'Other Than Confiz Exp.', 'Confiz Work Experience (months)',
       'Total Work Experience', 'Last Employer',
       "Bachelor's Degree Title", "Year of Bachelor's",
       "Institution of Bachelor's", "Master's Degree Title",
       "Year of Master's", "Institution of Master's", 'Employee Mobile #',
       'Employee Confiz email id', 'Employee Other email id', 'CNIC #',
       'Emergency Contact Person', 'Emergengy Contact #',
       "Father's Name ", 'Present Address', 'Location',
       'Permenant Address', 'Date of Birth', 'Marital Status',
       'Blood Group', 'Previous Designation', 'Birthday',
       'Bonus Or Commission', 'Increment Eligibility', 'Life Insurance',
       'Provident Fund', 'Basic Salary', 'Fuel Allowance',
       'Phone Allowance ', 'Internet Allowance', 'Other Allowance',
       'Current Salary'], dtype=object)

In [9]:
former_employees.columns.values

Code : Important for Reporting
Employee Name : Important for Reporting
Designation : in use.
Technology : in use.
Grade : in use.
Division : in use.
Departments : in use.
Type : in use.
Gender : in use.
Employment Status : in use.
Contract Letters : not relevant.
IGI Card : not relevant.
3rd Level Identifier (HR Use) : not relevant.
Last Promoted in : 
Joining Date in Confiz
Other Than Confiz Exp.
Confiz Work Experience (months)
Total Work Experience
Last Employer : This column may be helpful when the data is big enough.
Bachelor's Degree Title
Year of Bachelor's
Institution of Bachelor's
Master's Degree Title
Year of Master's
Institution of Master's
Employee Mobile #
Employee Confiz email id
Employee Other email id
CNIC #
Emergency Contact Person
Emergengy Contact #
Father's Name 
Present Address
Location
Permenant Address
Date of Birth
Marital Status
Blood Group
Previous Designation
Birthday
Bonus Or Commission
Increment Eligibility
Life Insurance
Provident Fund
Basic Salary
Fuel Allowance
Phone Allowance 
Internet Allowance
Other Allowance
Current Salary

In [10]:
# df.drop('Contract Letters', axis=1, inplace=True)
# df.drop('IGI Card', axis=1, inplace=True)
# df.drop('3rd Level Identifier (HR Use)', axis=1, inplace=True)
# df.drop('Joining Date in Confiz', axis=1, inplace=True)
# df.drop('Total Work Experience', axis=1, inplace=True)
# df.drop('Last Employer', axis=1, inplace=True)
# df.drop('Employee Mobile #', axis=1, inplace=True)
# df.drop('Employee Confiz email id', axis=1, inplace=True)
# df.drop('Employee Other email id', axis=1, inplace=True)
# df.drop('CNIC #', axis=1, inplace=True)
# df.drop('Emergency Contact Person', axis=1, inplace=True)
# df.drop('Emergengy Contact #', axis=1, inplace=True)
# df.drop('Father\'s Name ', axis=1, inplace=True)
# df.drop('Location', axis=1, inplace=True)
# df.drop('Blood Group', axis=1, inplace=True)
# df.drop('Birthday', axis=1, inplace=True)
# df.drop('Previous Designation', axis=1, inplace=True)
# df.drop('Bonus Or Commission', axis=1, inplace=True)
# df.drop('Increment Eligibility', axis=1, inplace=True)
# df.drop('Life Insurance', axis=1, inplace=True)
# df.drop('Provident Fund', axis=1, inplace=True)
# df.drop('Basic Salary', axis=1, inplace=True)
# df.drop('Fuel Allowance', axis=1, inplace=True)
# df.drop('Phone Allowance ', axis=1, inplace=True)
# df.drop('Internet Allowance', axis=1, inplace=True)
# df.drop('Other Allowance', axis=1, inplace=True)

current_employees = current_employees[['Code', 'Employee Name', 'Designation', 'Technology', 'Grade',
                       'Division', 'Departments', 'Type', 'Gender', 'Employment Status',
                       'Last Promoted in', 'Other Than Confiz Exp.',
                       'Confiz Work Experience (months)', "Bachelor's Degree Title",
                       "Year of Bachelor's", "Institution of Bachelor's",
                       "Master's Degree Title", "Year of Master's",
                       "Institution of Master's", 'Present Address', 'Permenant Address',
                       'Date of Birth', 'Marital Status', 'Current Salary']]

#  (including allowances)

former_employees = former_employees[['Code', 'Employee Name', 'Designation', 'Technology', 'Grade',
                       'Division', 'Departments', 'Type', 'Gender', 'Employment Status',
                       'Last Promoted in', 'Other Than Confiz Exp.',
                       'Confiz Work Experience (months)', "Bachelor's Degree Title",
                       "Year of Bachelor's", "Institution of Bachelor's",
                       "Master's Degree Title", "Year of Master's",
                       "Institution of Master's", 'Present Address', 'Permenant Address',
                       'Date of Birth', 'Marital Status', 'Current Salary (including allowances)', 
                       'Last Working Date']]

In [11]:
current_employees.replace({'-': np.nan, 
            'None': np.nan, 
            'nil': np.nan, 
            'Nil':np.nan, 
            '   ':np.nan, 
            'Nan':np.nan,
            'Null':np.nan,
            'null':np.nan,
            'NaN':np.nan}, inplace=True)

former_employees.replace({'-': np.nan, 
            'None': np.nan, 
            'nil': np.nan, 
            'Nil':np.nan, 
            '   ':np.nan, 
            'Nan':np.nan,
            'Null':np.nan,
            'null':np.nan,
            'NaN':np.nan}, inplace=True)

,Code,Employee Name,Designation,Technology,Grade,Division,Departments,Type,Gender,Employment Status,Last Promoted in,Other Than Confiz Exp.,Confiz Work Experience (months),Bachelor's Degree Title,Year of Bachelor's,Institution of Bachelor's,Master's Degree Title,Year of Master's,Institution of Master's,Present Address,Permenant Address,Date of Birth,Marital Status,Current Salary
0,12345,Marine Row,Software Engineer,DevOps,1,Professional Services,Software Engineering,Operation Center,Male,Full Time,2013-09-30,54,12.0,BSCS,2011,FAST,MBA,2016,FAST,"Fortress Stadium, Lahore",same,1990-09-30,married,59000
1,23456,Iraida Ballesteros,Software Engineer,Machine Learning,2,Professional Services,Software Engineering,Operation Center,Male,Full Time,2013-09-30,34,14.0,BBA,2012,LUMS,MSCS,2018,LUMS,"68, S block, Model town ,Lahore",same,1990-09-30,single,76543
2,34567,Marylee Wooden,Software Engineer,Android,3,Professional Services,Software Engineering,Production Core,Male,Full Time,2013-09-30,34,15.0,BBA,2013,NUST,MSSE,2016,NUST,Mall of Lahore,same,1990-09-30,married,34567
3,45678,John Doe,Human Resource,NaN,4,Human Resources,Human Resources,Production Core,Male,Full Time,2013-09-30,54,14.0,BSCS,2011,"PUCIT, Lahore",MSEE,2014,ITU,Emporium Mall,same,1990-09-30,single,76543
4,56789,Carlee Hambleton,Software Engineer,.Net,2,Software engineering,Software Engineering,Operation Center,Female,Full Time,2013-09-30,5,16.0,BSEE,2009,LSE,MSCS,2016,FAST,Packages Mall,same,1990-09-30,married,234567
5,67890,Roscoe Voth,Software Engineer,IOS,3,Professional Services,Software Engineering,Operation Center,Male,Full Time,2013-09-30,45,30.0,BSCS,2010,LUMS,MSCE,2018,NUST,Second Cup Johar Town,same,1990-09-30,single,765432
6,78901,Julie Pinder,Software Engineer,Systems,6,Professional Services,Software Engineering,Production Core,Female,Part Time,2013-09-30,45,5.0,BSDS,2011,FAST,NaN,NaN,NaN,Coffee Bean and Tea Leaf Main Bulevard,same,1990-09-30,married,123456
7,89012,Isadora Harton,Human Resource,NaN,8,Human Resources,Human Resources,Operation Center,Male,Full Time,2013-09-30,56,26.0,BSCE,2004,NUST,MSCS,2014,LUMS,"Uncle Tetsu, Lahore",same,1990-09-30,married,98765
8,90123,Chieko Blough,Software Engineer,Machine Learning,3,Professional Services,Software Engineering,Operation Center,Female,Full Time,2013-09-30,67,12.0,BSIT,1999,LSE,MCS(Cont),NaN,LUMS,"Xinhua Mall, Lahore",same,1990-09-30,single,45678
9,98765,Veronica Degenhardt,Software Engineer,Machine Learning,2,Professional Services,Support,Operation Center,Male,Full Time,2013-09-30,75,11.0,BSIT,2010,BNU,MSSE,NaN,LSE,Lahore Fort,same,1990-09-30,single,87654
10,87654,Alejandro Beadle,Human Resource,NaN,1,Human Resources,Human Resources,Operation Center,Female,Full Time,2013-09-30,234,25.0,BSCS,2013,UET,MBA,NaN,LSE,Badshahi Mosque,same,1990-09-30,married,345678
11,76543,Alethia Raff,Software Engineer,Android,7,Professional Services,Software Engineering,Operation Center,Male,Full Time,2013-09-30,86,60.0,BSIT,2017,BZU,MSEE,2018,ITU,Sheesh Mahal,same,1990-09-30,single,87654
12,65432,Katharine Noda,Software Engineer,Java,5,Professional Services,Software Engineering,Operation Center,Female,Full Time,2013-09-30,60,NaN,BBA,2019,FAST,MBA,NaN,ITU,Minar-e-Pakistan,same,1990-09-30,married,34567
13,54321,Carla Gresham,Software Engineer,Android,6,Finance & Admin,Software Engineering,Operation Center,Female,Full Time,2013-09-30,75,40.0,BBA,2010,LUMS,MSSE,2013,ITU,"Lahore Museum, Lahore",same,1990-09-30,single,87654
14,43219,Luanna Romer,Software Engineer,Android,3,Professional Services,Software Engineering,Operation Center,Male,Full Time,2013-09-30,70,30.0,BSEE,2013,NUST,MSCS,2016,ITU,Masjid Wazir Khan,same,1990-09-30,married,345678
15,32198,Owen Bentler,Software Engineer,Java,8,Professional Services,Administration,Operation Center,Female,Part Time,2013-09-30,75,30.0,BSIT,2009,ITU,MSDS,2015,Virtual University,Lahore Zoo,same,1990-09-30,single,987654
16,21987,Melany Roger,Software Engineer,Java,1,Professional Services,Software Engineering,Production Core,Female,Full Time,2013-09-30,80,20.0,BSCE,2014,BNU,MSCS,2017,University of Illinois,Dehli Gate,same,1990-09-30,married,456789
17,19876,Terra Maines,Software Engineer,Android,2,Professional Services,Software Engineering,Operation Center,Male,Full Time,2013-09-30,90,60.0,BSSE,2015,FAST,MSDS,2018,NaN,Bagh e Jinnah,same,1990-09-30,single,987665
18,98234,Bart Luiz,Software Engineer,IOS,3,Professional Services,Software Engineering,Production Core,Female,Part Time,2013-09-30,34,2.0,BSSE,2013,NUST,MSDS,2017,ITU,Army Museum Lahore,same,1990-09-30,married,56785
19,90126,Marisha Villa,Software Engineer,DevOps,4,Professional Services,Software Engineering,Production Core,Male,Part Time,2013-09-30,54,50.0,BSSE,2011,LUMS,MSDS,2016,FAST,Greater Iqbal Park,same,1990-09-30,single,76543
20,80231,Tyron Janssen,Software Engineer,Android,5,Professional Services,Software Engineering,Production Core,Male,Part Time,2013-09-30,76,70.0,BSCS,2010,LSE,MSSE,2018,LUMS,Data Darbar,same,1990-09-30,married,45678
21,90124,Sunni Shewmake,CEO,.Net,0,Professional Services,Accounts & Finance,Operation Center,Male,Full Time,2013-09-30,54,12.0,BSCS,2011,FAST,MBA,2016,FAST,"Fortress Stadium, Lahore",same,1990-09-30,married,59000
22,90125,Estefana Copas,Software Engineer,Android,1,Professional Services,Administration,Operation Center,Female,Internship,2013-09-30,34,14.0,BBA,2012,LUMS,MSCS,2018,LUMS,"68, S block, Model town ,Lahore",same,1990-09-30,single,76543
23,90126,Meg Altieri,Trainee Software Engineer,AX Development,2,Professional Services,C-Analytics,Production Core,Male,Probation,2013-09-30,34,15.0,BBA,2013,NUST,MSSE,2016,NUST,Mall of Lahore,same,1990-09-30,married,34567
24,90127,Stephen Lodge,Assistant Compliance Manager,AX Support,3,Human Resources,DAX,Operation Center,Female,Full Time,2013-09-30,54,14.0,BSCS,2011,"PUCIT, Lahore",MSEE,2014,ITU,Emporium Mall,same,1990-09-30,single,76543
25,90128,Betsy Faith,Assistant Manager Administration,B.I,4,Software engineering,Designing,Operation Center,Male,Internship,2013-09-30,5,16.0,BSEE,2009,LSE,MSCS,2016,FAST,Packages Mall,same,1990-09-30,married,234567
26,90129,Wendell Phillips,Assistant Manager Deployment,Computer Vision,5,Professional Services,Finance & Admin,Production Core,Female,Probation,2013-09-30,45,30.0,BSCS,2010,LUMS,MSCE,2018,NUST,Second Cup Johar Town,same,1990-09-30,single,765432
27,90192,Kaycee Louque,Assistant Manager Finance & Accounts,DevOps,6,Professional Services,Finance Department,Operation Center,Male,Full Time,2013-09-30,45,5.0,BSDS,2011,FAST,NaN,NaN,NaN,Coffee Bean and Tea Leaf Main Bulevard,same,1990-09-30,married,123456
28,90182,Latonya Legge,Assistant Manager HR,"DevOps, JAVA",7,Human Resources,General Management,Operation Center,Female,Internship,2013-09-30,56,26.0,BSCE,2004,NUST,MSCS,2014,LUMS,"Uncle Tetsu, Lahore",same,1990-09-30,married,98765
29,90172,Shantae Judah,Associate Business Analyst- Internship,iOS,8,Professional Services,Head of PS,Production Core,Male,Probation,2013-09-30,67,12.0,BSIT,1999,LSE,MCS(Cont),NaN,LUMS,"Xinhua Mall, Lahore",same,1990-09-30,single,45678
30,90162,Devin Merkle,Associate Data Science Consultant,JAVA,0,Professional Services,Head of SE,Operation Center,Female,Full Time,2013-09-30,75,11.0,BSIT,2010,BNU,MSSE,NaN,LSE,Lahore Fort,same,1990-09-30,single,87654
31,90152,Mariel Dudash,Associate Functional Consultant,ML,1,Human Resources,Human Resources,Operation Center,Male,Internship,2013-09-30,234,25.0,BSCS,2013,UET,MBA,NaN,LSE,Badshahi Mosque,same,1990-09-30,married,345678
32,90142,Melania Macaraeg,Business Development Executive,"ML, .Net",2,Professional Services,Information Technology,Production Core,Female,Probation,2013-09-30,86,60.0,BSIT,2017,BZU,MSEE,2018,ITU,Sheesh Mahal,same,1990-09-30,single,87654
33,90132,Illa Collyer,Business Development Manager,N.A,3,Professional Services,Marketing,Operation Center,Male,Full Time,2013-09-30,60,NaN,BBA,2019,FAST,MBA,NaN,ITU,Minar-e-Pakistan,same,1990-09-30,married,34567
34,90292,Raye Hollander,C.O.O,PHP,4,Finance & Admin,Shopper Value,Operation Center,Female,Internship,2013-09-30,75,40.0,BBA,2010,LUMS,MSSE,2013,ITU,"Lahore Museum, Lahore",same,1990-09-30,single,87654
35,90282,Maggie Shuford,Client Service Specialist,"PHP, iOS",5,Professional Services,Simplicant,Production Core,Male,Probation,2013-09-30,70,30.0,BSEE,2013,NUST,MSCS,2016,ITU,Masjid Wazir Khan,same,1990-09-30,married,345678
36,90272,Kamala Devens,Computer Vision Engineer,React Native,6,Professional Services,Software Engineering,Operation Center,Female,Full Time,2013-09-30,75,30.0,BSIT,2009,ITU,MSDS,2015,Virtual University,Lahore Zoo,same,1990-09-30,single,987654
37,90262,Jayme Currington,Customer Success Executive,"ROR, AWS, Jquery",7,Professional Services,Accounts & Finance,Operation Center,Male,Internship,2013-09-30,80,20.0,BSCE,2014,BNU,MSCS,2017,University of Illinois,Dehli Gate,same,1990-09-30,married,456789
38,90252,Tameka Hibbler,Data Entry Operator,TBD,8,Professional Services,Administration,Production Core,Male,Probation,2013-09-30,90,60.0,BSSE,2015,FAST,MSDS,2018,NaN,Bagh e Jinnah,same,1990-09-30,single,987665
39,90242,Max Langevin,Data Science Consultant,Test Engineering,0,Professional Services,C-Analytics,Operation Center,Female,Full Time,2013-09-30,34,2.0,BSSE,2013,NUST,MSDS,2017,ITU,Army Museum Lahore,same,1990-09-30,married,56785
40,90232,Devon Nehring,Data Science Intern,Xamarin-Android,1,Professional Services,DAX,Operation Center,Male,Internship,2013-09-30,54,50.0,BSSE,2011,LUMS,MSDS,2016,FAST,Greater Iqbal Park,same,1990-09-30,single,76543
41,90393,Abel Fraise,Deployment Officer,Xamarin-iOS,2,Professional Services,Designing,Production Core,Female,Probation,2013-09-30,76,70.0,BSCS,2010,LSE,MSSE,2018,LUMS,Data Darbar,same,1990-09-30,married,45678
42,90394,Maribel Rickerson,DevOps Architect,.Net,3,Professional Services,Finance & Admin,Operation Center,Male,Full Time,2013-09-30,54,12.0,BSCS,2011,FAST,MBA,2016,FAST,"Fortress Stadium, Lahore",same,1990-09-30,married,59000
43,90384,Lyndia Clardy,Director Administration,Android,4,Professional Services,Finance Department,Operation Center,Female,Internship,2013-09-30,34,14.0,BBA,2012,LUMS,MSCS,2018,LUMS,"68, S block, Model town ,Lahore",same,1990-09-30,single,76543
44,90374,Mitzi Rosenberger,Director Engineering,AX Development,5,Professional Services,General Management,Production Core,Male,Probation,2013-09-30,34,15.0,BBA,2013,NUST,MSSE,2016,NUST,Mall of Lahore,same,1990-09-30,married,34567
45,90363,Lazaro Ratchford,Director Human Resource,AX Support,6,Human Resources,Head of PS,Operation Center,Female,Full Time,2013-09-30,54,14.0,BSCS,2011,"PUCIT, Lahore",MSEE,2014,ITU,Emporium Mall,same,1990-09-30,single,76543
46,10000,Elinor Faber,Director Product Development,B.I,7,Software engineering,Head of SE,Operation Center,Male,Internship,2013-09-30,5,16.0,BSEE,2009,LSE,MSCS,2016,FAST,Packages Mall,same,1990-09-30,married,234567
47,10001,Elsie Mcgowen,Director Professional Services,Computer Vision,8,Professional Services,Human Resources,Production Core,Female,Probation,2013-09-30,45,30.0,BSCS,2010,LUMS,MSCE,2018,NUST,Second Cup Johar Town,same,1990-09-30,single,765432
48,10002,Daphne Gongora,Driver,DevOps,0,Professional Services,Information Technology,Operation Center,Male,Full Time,2013-09-30,45,5.0,BSDS,2011,FAST,NaN,NaN,NaN,Coffee Bean and Tea Leaf Main Bulevard,same,1990-09-30,married,123456
49,10003,Emogene Bloodsaw,Functional Consultant,"DevOps, JAVA",1,Human Resources,Marketing,Operation Center,Female,Internship,2013-09-30,56,26.0,BSCE,2004,NUST,MSCS,2014,LUMS,"Uncle Tetsu, Lahore",same,1990-09-30,married,98765
50,10004,April Amundson,Head of I.T & Business Continuity,iOS,2,Professional Services,Shopper Value,Production Core,Male,Probation,2013-09-30,67,12.0,BSIT,1999,LSE,MCS(Cont),NaN,LUMS,"Xinhua Mall, Lahore",same,1990-09-30,single,45678
51,10005,Marissa Oja,HR Executive,JAVA,3,Professional Services,Simplicant,Operation Center,Female,Full Time,2013-09-30,75,11.0,BSIT,2010,BNU,MSSE,NaN,LSE,Lahore Fort,same,1990-09-30,single,87654
52,10006,Nettie Coble,HR Generalist,ML,4,Human Resources,Software Engineering,Operation Center,Male,Internship,2013-09-30,234,25.0,BSCS,2013,UET,MBA,NaN,LSE,Badshahi Mosque,same,1990-09-30,married,345678
53,10007,Fran Ellingsworth,HR Officer,"ML, .Net",5,Professional Services,Accounts & Finance,Production Core,Female,Probation,2013-09-30,86,60.0,BSIT,2017,BZU,MSEE,2018,ITU,Sheesh Mahal,same,1990-09-30,single,87654
54,10008,Elyse Costin,Manager Human Resource,N.A,6,Professional Services,Administration,Operation Center,Male,Full Time,2013-09-30,60,NaN,BBA,2019,FAST,MBA,NaN,ITU,Minar-e-Pakistan,same,1990-09-30,married,34567
55,10009,Edra Delapena,Manager UX Design,PHP,7,Finance & Admin,C-Analytics,Operation Center,Female,Internship,2013-09-30,75,40.0,BBA,2010,LUMS,MSSE,2013,ITU,"Lahore Museum, Lahore",same,1990-09-30,single,87654
56,10010,Lorinda Ayoub,Manager-SPM,"PHP, iOS",8,Professional Services,DAX,Production Core,Male,Probation,2013-09-30,70,30.0,BSEE,2013,NUST,MSCS,2016,ITU,Masjid Wazir Khan,same,1990-09-30,married,345678
57,10011,Lin Medlin,Manager-Systems Operations,React Native,0,Professional Services,Designing,Operation Center,Female,Full Time,2013-09-30,75,30.0,BSIT,2009,ITU,MSDS,2015,Virtual University,Lahore Zoo,same,1990-09-30,single,987654
58,10012,Jammie Reda,MTO-Finance,"ROR, AWS, Jquery",1,Professional Services,Finance & Admin,Operation Center,Male,Internship,2013-09-30,80,20.0,BSCE,2014,BNU,MSCS,2017,University of Illinois,Dehli Gate,same,1990-09-30,married,456789
59,10013,Marlys Bodnar,Office Assistant,TBD,2,Professional Services,Finance Department,Production Core,Female,Probation,2013-09-30,90,60.0,BSSE,2015,FAST,MSDS,2018,NaN,Bagh e Jinnah,same,1990-09-30,single,987665
60,10014,Jeneva Keeling,Office Coordinator,Test Engineering,3,Professional Services,General Management,Operation Center,Male,Full Time,2013-09-30,34,2.0,BSSE,2013,NUST,MSDS,2017,ITU,Army Museum Lahore,same,1990-09-30,married,56785
61,10015,Cayla Berber,Principal DevOps Engineer,Xamarin-Android,4,Professional Services,Head of PS,Operation Center,Female,Internship,2013-09-30,54,50.0,BSSE,2011,LUMS,MSDS,2016,FAST,Greater Iqbal Park,same,1990-09-30,single,76543
62,10016,Weston Hem,Principal Functional Consultant,Xamarin-iOS,5,Professional Services,Head of SE,Production Core,Male,Probation,2013-09-30,76,70.0,BSCS,2010,LSE,MSSE,2018,LUMS,Data Darbar,same,1990-09-30,married,45678
63,10017,Jacquelin Tweedie,Principal Graphic Designer,.Net,6,Professional Services,Human Resources,Operation Center,Female,Full Time,2013-09-30,54,12.0,BSCS,2011,FAST,MBA,2016,FAST,"Fortress Stadium, Lahore",same,1990-09-30,married,59000
64,10018,Nichol Mcgaughy,Principal Software Engineer,Android,7,Professional Services,Information Technology,Operation Center,Male,Internship,2013-09-30,34,14.0,BBA,2012,LUMS,MSCS,2018,LUMS,"68, S block, Model town ,Lahore",same,1990-09-30,single,76543
65,10019,Shaniqua Kimmer,Principal Software Test Engineer,AX Development,8,Professional Services,Marketing,Production Core,Female,Probation,2013-09-30,34,15.0,BBA,2013,NUST,MSSE,2016,NUST,Mall of Lahore,same,1990-09-30,married,34567
66,10020,Byron Tunney,Project Manager,AX Support,0,Human Resources,Shopper Value,Operation Center,Male,Full Time,2013-09-30,54,14.0,BSCS,2011,"PUCIT, Lahore",MSEE,2014,ITU,Emporium Mall,same,1990-09-30,single,76543
67,10021,Renate Morena,Sales Executive,B.I,1,Software engineering,Simplicant,Operation Center,Female,Internship,2013-09-30,5,16.0,BSEE,2009,LSE,MSCS,2016,FAST,Packages Mall,same,1990-09-30,married,234567
68,10022,Pearly Farrow,Senior Admin & Procurement Executive,Computer Vision,2,Professional Services,Software Engineering,Production Core,Male,Probation,2013-09-30,45,30.0,BSCS,2010,LUMS,MSCE,2018,NUST,Second Cup Johar Town,same,1990-09-30,single,765432
69,10023,Lilia Kinzel,Senior Data Science Consultant,DevOps,3,Professional Services,Accounts & Finance,Operation Center,Female,Full Time,2013-09-30,45,5.0,BSDS,2011,FAST,NaN,NaN,NaN,Coffee Bean and Tea Leaf Main Bulevard,same,1990-09-30,married,123456
70,10024,Marisa Vales,Senior Director Engineering,"DevOps, JAVA",4,Human Resources,Administration,Operation Center,Male,Internship,2013-09-30,56,26.0,BSCE,2004,NUST,MSCS,2014,LUMS,"Uncle Tetsu, Lahore",same,1990-09-30,married,98765
71,10025,Carline Kane,Senior Director Finance & Administration,iOS,5,Professional Services,C-Analytics,Production Core,Female,Probation,2013-09-30,67,12.0,BSIT,1999,LSE,MCS(Cont),NaN,LUMS,"Xinhua Mall, Lahore",same,1990-09-30,single,45678
72,10026,Valda Kroner,Senior Director Industry Solutions,JAVA,6,Professional Services,DAX,Operation Center,Male,Full Time,2013-09-30,75,11.0,BSIT,2010,BNU,MSSE,NaN,LSE,Lahore Fort,same,1990-09-30,single,87654
73,10027,Gladis Elsea,Senior Director Professional Services,ML,7,Human Resources,Designing,Operation Center,Female,Internship,2013-09-30,234,25.0,BSCS,2013,UET,MBA,NaN,LSE,Badshahi Mosque,same,1990-09-30,married,345678
74,10028,Emily Cutright,Senior Executive Accounts & Finance,"ML, .Net",8,Professional Services,Finance & Admin,Production Core,Male,Probation,2013-09-30,86,60.0,BSIT,2017,BZU,MSEE,2018,ITU,Sheesh Mahal,same,1990-09-30,single,87654
75,10029,Tish Helbig,Senior Functional Consultant,N.A,0,Professional Services,Finance Department,Operation Center,Female,Full Time,2013-09-30,60,NaN,BBA,2019,FAST,MBA,NaN,ITU,Minar-e-Pakistan,same,1990-09-30,married,34567
76,10030,Louvenia Moses,Senior Marketing Executive,PHP,1,Finance & Admin,General Management,Operation Center,Male,Internship,2013-09-30,75,40.0,BBA,2010,LUMS,MSSE,2013,ITU,"Lahore Museum, Lahore",same,1990-09-30,single,87654
77,10031,Glenda Larry,Senior Presale Consultant,"PHP, iOS",2,Professional Services,Head of PS,Production Core,Female,Probation,2013-09-30,70,30.0,BSEE,2013,NUST,MSCS,2016,ITU,Masjid Wazir Khan,same,1990-09-30,married,345678
78,10032,Lucas Douse,Senior Project Manager,React Native,3,Professional Services,Head of SE,Operation Center,Male,Full Time,2013-09-30,75,30.0,BSIT,2009,ITU,MSDS,2015,Virtual University,Lahore Zoo,same,1990-09-30,single,987654
79,10033,Tabitha Alvear,Senior Software Architect,"ROR, AWS, Jquery",4,Professional Services,Human Resources,Operation Center,Female,Internship,2013-09-30,80,20.0,BSCE,2014,BNU,MSCS,2017,University of Illinois,Dehli Gate,same,1990-09-30,married,456789
80,10034,Dustin Mckamie,Senior Software Engineer,TBD,5,Professional Services,Information Technology,Production Core,Male,Probation,2013-09-30,90,60.0,BSSE,2015,FAST,MSDS,2018,NaN,Bagh e Jinnah,same,1990-09-30,single,987665
81,10035,Magen Catalfamo,Senior Software Test Engineer,Test Engineering,6,Professional Services,Marketing,Operation Center,Female,Full Time,2013-09-30,34,2.0,BSSE,2013,NUST,MSDS,2017,ITU,Army Museum Lahore,same,1990-09-30,married,56785
82,10036,Casie Rodi,Senior Solution Architect,Xamarin-Android,7,Professional Services,Shopper Value,Operation Center,Male,Internship,2013-09-30,54,50.0,BSSE,2011,LUMS,MSDS,2016,FAST,Greater Iqbal Park,same,1990-09-30,single,76543
83,10037,Wilton Keppler,Senior Support Consultant,Xamarin-iOS,8,Professional Services,Simplicant,Production Core,Female,Probation,2013-09-30,76,70.0,BSCS,2010,LSE,MSSE,2018,LUMS,Data Darbar,same,1990-09-30,married,45678
84,10038,Rebekah Bongiovanni,Senior Support Executive,.Net,0,Professional Services,Software Engineering,Operation Center,Male,Full Time,2013-09-30,54,12.0,BSCS,2011,FAST,MBA,2016,FAST,"Fortress Stadium, Lahore",same,1990-09-30,married,59000
85,10039,Cody Cumberbatch,Senior System Engineer,Android,1,Professional Services,Accounts & Finance,Operation Center,Female,Internship,2013-09-30,34,14.0,BBA,2012,LUMS,MSCS,2018,LUMS,"68, S block, Model town ,Lahore",same,1990-09-30,single,76543
86,10040,Ramon Abernathy,Senior Technical Consultant,AX Development,2,Professional Services,Administration,Production Core,Male,Probation,2013-09-30,34,15.0,BBA,2013,NUST,MSSE,2016,NUST,Mall of Lahore,same,1990-09-30,married,34567

In [13]:
current_employees['Designation'].fillna(str('No Designation'), inplace=True)
former_employees['Designation'].fillna(str('No Designation'), inplace=True)

current_employees['Technology'].fillna(str('No Technology'), inplace=True)
former_employees['Technology'].fillna(str('No Technology'), inplace=True)

current_employees['Division'].fillna(str('No Division'), inplace=True)
former_employees['Division'].fillna(str('No Division'), inplace=True)

current_employees['Departments'].fillna(str('No Departments'), inplace=True)
former_employees['Departments'].fillna(str('No Departments'), inplace=True)

current_employees['Type'].fillna(str('No Type'), inplace=True)
former_employees['Type'].fillna(str('No Type'), inplace=True)

current_employees['Bachelor\'s Degree Title'].fillna(str('No Bachelor\'s Degree Title'), inplace=True)
former_employees['Bachelor\'s Degree Title'].fillna(str('No Bachelor\'s Degree Title'), inplace=True)

current_employees['Year of Bachelor\'s'].fillna(str(today), inplace=True)
former_employees['Year of Bachelor\'s'].fillna(str(today), inplace=True)

current_employees['Institution of Bachelor\'s'].fillna(str('No Institution of Bachelor\'s'), inplace=True)
former_employees['Institution of Bachelor\'s'].fillna(str('No Institution of Bachelor\'s'), inplace=True)

current_employees['Master\'s Degree Title'].fillna(str('No Master\'s Degree Title'), inplace=True)
former_employees['Master\'s Degree Title'].fillna(str('No Master\'s Degree Title'), inplace=True)

current_employees['Year of Master\'s'].fillna(str(today), inplace=True)
former_employees['Year of Master\'s'].fillna(str(today), inplace=True)

current_employees['Institution of Master\'s'].fillna(str('No Institution of Master\'s'), inplace=True)
former_employees['Institution of Master\'s'].fillna(str('No Institution of Master\'s'), inplace=True)

current_employees.dropna(inplace=True)
former_employees.dropna(inplace=True)

    Code       Employee Name        Designation        Technology  Grade               Division           Departments              Type  Gender Employment Status Last Promoted in  Other Than Confiz Exp.  Confiz Work Experience (months) Bachelor's Degree Title  Year of Bachelor's Institution of Bachelor's Master's Degree Title Year of Master's Institution of Master's                  Present Address Permenant Address Date of Birth Marital Status  Current Salary
0  12345          Marine Row  Software Engineer            DevOps      1  Professional Services  Software Engineering  Operation Center    Male         Full Time       2013-09-30                      54                             12.0                    BSCS                2011                      FAST                   MBA             2016                    FAST         Fortress Stadium, Lahore              same    1990-09-30        married           59000
1  23456  Iraida Ballesteros  Software Engineer  Machine Learning      2  Professional Services  Software Engineering  Operation Center    Male         Full Time       2013-09-30                      34                             14.0                     BBA                2012                      LUMS                  MSCS             2018                    LUMS  68, S block, Model town ,Lahore              same    1990-09-30         single           76543
2  34567      Marylee Wooden  Software Engineer           Android      3  Professional Services  Software Engineering   Production Core    Male         Full Time       2013-09-30                      34                             15.0                     BBA                2013                      NUST                  MSSE             2016                    NUST                   Mall of Lahore              same    1990-09-30        married           34567
3  45678            John Doe     Human Resource               NaN      4        Human Resources       Human Resources   Production Core    Male         Full Time       2013-09-30                      54                             14.0                    BSCS                2011             PUCIT, Lahore                  MSEE             2014                     ITU                    Emporium Mall              same    1990-09-30         single           76543
4  56789    Carlee Hambleton  Software Engineer              .Net      2   Software engineering  Software Engineering  Operation Center  Female         Full Time       2013-09-30                       5                             16.0                    BSEE                2009                       LSE                  MSCS             2016                    FAST                    Packages Mall              same    1990-09-30        married          234567

In [14]:
# If Designation is related to Human Resource then replace Technology to Human Resource as well.
# current_employees.loc[current_employees['Designation'] == 'Human Resource', 'Technology'] = 'Human Resource'
# current_employees.loc[current_employees['Designation'] == 'Assistant Manager HR', 'Technology'] = 'Human Resource'
# current_employees.loc[current_employees['Designation'] == 'Director Human Resource', 'Technology'] = 'Human Resource'
# current_employees.loc[current_employees['Designation'] == 'HR Executive', 'Technology'] = 'Human Resource'
# current_employees.loc[current_employees['Designation'] == 'HR Generalist', 'Technology'] = 'Human Resource'
# current_employees.loc[current_employees['Designation'] == 'HR Officer', 'Technology'] = 'Human Resource'
# current_employees.loc[current_employees['Designation'] == 'Manager Human Resource', 'Technology'] = 'Human Resource'

# Repeat this for each unique designation
#current_employees.head()

    Code       Employee Name        Designation        Technology  Grade               Division           Departments              Type  Gender Employment Status Last Promoted in  Other Than Confiz Exp.  Confiz Work Experience (months) Bachelor's Degree Title  Year of Bachelor's Institution of Bachelor's Master's Degree Title Year of Master's Institution of Master's                  Present Address Permenant Address Date of Birth Marital Status  Current Salary
0  12345          Marine Row  Software Engineer            DevOps      1  Professional Services  Software Engineering  Operation Center    Male         Full Time       2013-09-30                      54                             12.0                    BSCS                2011                      FAST                   MBA             2016                    FAST         Fortress Stadium, Lahore              same    1990-09-30        married           59000
1  23456  Iraida Ballesteros  Software Engineer  Machine Learning      2  Professional Services  Software Engineering  Operation Center    Male         Full Time       2013-09-30                      34                             14.0                     BBA                2012                      LUMS                  MSCS             2018                    LUMS  68, S block, Model town ,Lahore              same    1990-09-30         single           76543
2  34567      Marylee Wooden  Software Engineer           Android      3  Professional Services  Software Engineering   Production Core    Male         Full Time       2013-09-30                      34                             15.0                     BBA                2013                      NUST                  MSSE             2016                    NUST                   Mall of Lahore              same    1990-09-30        married           34567
3  45678            John Doe     Human Resource    Human Resource      4        Human Resources       Human Resources   Production Core    Male         Full Time       2013-09-30                      54                             14.0                    BSCS                2011             PUCIT, Lahore                  MSEE             2014                     ITU                    Emporium Mall              same    1990-09-30         single           76543
4  56789    Carlee Hambleton  Software Engineer              .Net      2   Software engineering  Software Engineering  Operation Center  Female         Full Time       2013-09-30                       5                             16.0                    BSEE                2009                       LSE                  MSCS             2016                    FAST                    Packages Mall              same    1990-09-30        married          234567

In [18]:
columns = ['Designation', 'Technology', 'Grade',
       'Division', 'Departments', 'Type', 'Gender', 'Employment Status',
       "Bachelor's Degree Title", "Year of Bachelor's", "Institution of Bachelor's",
       "Master's Degree Title", "Year of Master's",
       "Institution of Master's", 'Marital Status']

for col in columns:
    print("Column Name: " + str(col))
    print(current_employees[col].unique())
    print("#####################################\n\n")

Column Name: Designation
['Software Engineer' 'Human Resource' 'CEO' '\xa0Software Engineer'
 '\xa0Trainee Software Engineer' 'Assistant Compliance Manager '
 'Assistant Manager Administration' 'Assistant Manager Deployment'
 'Assistant Manager HR\xa0' 'Associate Business Analyst- Internship'
 'Associate Data Science Consultant' 'Associate Functional Consultant'
 'Business Development Executive' 'C.O.O' 'Client Service Specialist'
 'Computer Vision Engineer' 'Customer Success Executive'
 'Data Science Consultant' 'Data Science Intern' 'Deployment Officer'
 'DevOps Architect' 'Director Administration' 'Director Engineering'
 'Director Human Resource' 'Director Product Development'
 'Director Professional Services' 'Functional Consultant'
 'Head of I.T & Business Continuity' 'HR Executive' 'HR Generalist'
 'HR Officer' 'Manager UX Design' 'Manager-SPM'
 'Manager-Systems Operations' 'MTO-Finance' 'Office Coordinator'
 'Principal DevOps Engineer' 'Principal Functional Consultant'
 'Principal Graphic Designer' 'Principal Software Engineer'
 'Principal Software Test Engineer' 'Project Manager'
 'Sales Executive\xa0' 'Senior Admin & Procurement Executive'
 'Senior Director Engineering' 'Senior Director Finance & Administration'
 'Senior Director Industry Solutions'
 'Senior Director Professional Services'
 'Senior Executive Accounts & Finance' 'Senior Marketing Executive'
 'Senior Presale Consultant' 'Senior Project Manager'
 'Senior Software Architect' 'Senior Software Test Engineer'
 'Senior Solution Architect' 'Senior Support Consultant'
 'Senior Support Executive' 'Senior System Engineer'
 'Senior Technical Consultant' 'Senior Technical Manager - ERP Services'
 'Software Architect' 'Solution Manager' 'SPM - QA'
 'SVP Professional Services' 'Team Lead Client Service Specialist'
 'Technical Manager - Support Services' 'Trainee Data Science Consultant'
 'Trainee Functional Consultant' 'Trainee Software Engineer'
 'Trainee Support Consultant']
#####################################


Column Name: Technology
['DevOps' 'Machine Learning' 'Android' 'Human Resource' '.Net' 'IOS'
 'Java' 'AX Development' 'AX Support' 'B.I' 'Computer Vision'
 'DevOps, JAVA' 'iOS' 'JAVA' 'ML' 'ML, .Net' 'PHP' 'PHP, iOS'
 'React Native' 'ROR, AWS, Jquery' 'Test Engineering' 'Xamarin-Android'
 'Xamarin-iOS']
#####################################


Column Name: Grade
[1 2 3 4 8 7 6 5 0]
#####################################


Column Name: Division
['Professional Services' 'Human Resources' 'Software engineering'
 'Finance & Admin']
#####################################


Column Name: Departments
['Software Engineering' 'Human Resources' 'Support' 'Administration'
 'Accounts & Finance' 'C-Analytics' 'DAX' 'Designing' 'Finance & Admin'
 'General Management' 'Head of PS' 'Head of SE' 'Information Technology'
 'Shopper Value' 'Simplicant' 'Finance Department' 'Marketing']
#####################################


Column Name: Type
['Operation Center' 'Production Core']
#####################################


Column Name: Gender
['Male' 'Female']
#####################################


Column Name: Employment Status
['Full Time' 'Part Time' 'Internship' 'Probation']
#####################################


Column Name: Last Promoted in
['2013-09-30T00:00:00.000000000']
#####################################


Column Name: Other Than Confiz Exp.
[ 54  34   5  45  56  67  75 234  86  70  80  76]
#####################################


Column Name: Confiz Work Experience (months)
[12. 14. 15. 16. 30. 26. 11. 25. 60. 40. 20.  2. 50. 70.]
#####################################


Column Name: Bachelor's Degree Title
['BSCS' 'BBA' 'BSEE' 'BSCE' 'BSIT' 'BSSE']
#####################################


Column Name: Year of Bachelor's
[2011 2012 2013 2009 2010 2004 1999 2017 2014]
#####################################


Column Name: Institution of Bachelor's
['FAST' 'LUMS' 'NUST' 'PUCIT, Lahore' 'LSE' 'BNU' 'UET' 'BZU' 'ITU']
#####################################


Column Name: Master's Degree Title
['MBA' 'MSCS' 'MSSE' 'MSEE' 'MSCE' 'MCS(Cont)' 'MSDS']
#####################################


Column Name: Year of Master's
[2016 2018 2014 '2019-12-18' 2013 2015 2017]
#####################################


Column Name: Institution of Master's
['FAST' 'LUMS' 'NUST' 'ITU' 'LSE' 'Virtual University'
 'University of Illinois']
#####################################


Column Name: Present Address
['Fortress Stadium, Lahore' '68, S block, Model town ,Lahore'
 'Mall of Lahore' 'Emporium Mall' 'Packages Mall' 'Second Cup Johar Town'
 'Uncle Tetsu, Lahore' 'Xinhua Mall, Lahore' 'Lahore Fort'
 'Badshahi Mosque' 'Sheesh Mahal' 'Lahore Museum, Lahore'
 'Masjid Wazir Khan' 'Lahore Zoo' 'Dehli Gate' 'Army Museum Lahore'
 'Greater Iqbal Park' 'Data Darbar']
#####################################


Column Name: Permenant Address
['same']
#####################################


Column Name: Date of Birth
['1990-09-30T00:00:00.000000000']
#####################################


Column Name: Marital Status
['married' 'single']
#####################################


Column Name: Current Salary
[ 59000  76543  34567 234567 765432  98765  45678  87654 345678 987654
 456789  56785]
#####################################

In [15]:
for col in columns:
    print("Column Name: " + str(col))
    print(former_employees[col].unique())
    print("#####################################\n\n")

In [20]:
# Turn Last Promoted in column to Months since last promotion.
# Convert Present Address to distance from Office, in Kilometers
# Convert Permanent Address to a boolean column that indicates same or not.
# Convert Date of Birth to age in months
# Convert year of Bachelors to months since bachelors
# Convert year of MAsters to months since masters

In [21]:
def one_hot_current_employees(col_name):
    one_hot = pd.get_dummies(current_employees[str(col_name)])
    for name in one_hot.columns.values:
        one_hot.rename(columns={str(name): str(name) + ' ' + str(col_name)}, inplace=True)
    return one_hot

In [ ]:
def one_hot_former_employees(col_name):
    one_hot = pd.get_dummies(former_employees[str(col_name)])
    for name in one_hot.columns.values:
        one_hot.rename(columns={str(name): str(name) + ' ' + str(col_name)}, inplace=True)
    return one_hot

In [1]:
# Designation = one_hot_current_employees('Designation')
# Designation.head()

In [2]:
# Technology = one_hot_current_employees('Technology')
# Technology.head()

In [3]:
# Grade = one_hot_current_employees('Grade')
# Grade.drop(0,axis = 1, inplace=True)
# Grade.head()

In [4]:
# Division = one_hot_current_employees('Division')
# Division.head()

In [5]:
# Departments = one_hot_current_employees('Departments')
# Departments.head()

In [6]:
# Type = one_hot_current_employees('Type')
# Type.head()

In [7]:
# Gender = one_hot_current_employees('Gender')
# Gender.drop('Female Gender',axis = 1, inplace=True)
# Gender.head()

In [8]:
# Employment = one_hot_current_employees('Employment Status')
# Employment.drop('Probation Employment Status',axis = 1, inplace=True)
# Employment.head()

In [9]:
# Bachelor_Title = one_hot_current_employees('Bachelor\'s Degree Title')
# Bachelor_Title.head()

In [10]:
# Bachelor_Institution = one_hot_current_employees('Institution of Bachelor\'s')
# Bachelor_Institution.head()

In [11]:
# Master_Title = one_hot_current_employees('Master\'s Degree Title')
# Master_Title.head()

In [12]:
# Master_Institution = one_hot_current_employees('Institution of Master\'s')
# Master_Institution.head()

In [13]:
# Marital_Status = one_hot_current_employees('Marital Status')
# Marital_Status.drop('single Marital Status',axis = 1, inplace=True)
# Marital_Status.head()

In [41]:
current_employees.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 0 to 100
Data columns (total 24 columns):
Code                               87 non-null int64
Employee Name                      87 non-null object
Designation                        87 non-null object
Technology                         87 non-null object
Grade                              87 non-null int64
Division                           87 non-null object
Departments                        87 non-null object
Type                               87 non-null object
Gender                             87 non-null object
Employment Status                  87 non-null object
Last Promoted in                   87 non-null datetime64[ns]
Other Than Confiz Exp.             87 non-null int64
Confiz Work Experience (months)    87 non-null float64
Bachelor's Degree Title            87 non-null object
Year of Bachelor's                 87 non-null int64
Institution of Bachelor's          87 non-null object
Master's Degree Title              87 non-null object
Year of Master's                   87 non-null object
Institution of Master's            87 non-null object
Present Address                    87 non-null object
Permenant Address                  87 non-null object
Date of Birth                      87 non-null datetime64[ns]
Marital Status                     87 non-null object
Current Salary                     87 non-null int64
dtypes: datetime64[ns](2), float64(1), int64(5), object(16)
memory usage: 17.0+ KB

In [ ]:
former_employees.info()

In [42]:
current_employees.drop('Designation',axis = 1, inplace=True)
current_employees.drop('Technology',axis = 1, inplace=True)
current_employees.drop('Grade',axis = 1, inplace=True)
current_employees.drop('Division',axis = 1, inplace=True)
current_employees.drop('Departments',axis = 1, inplace=True)
current_employees.drop('Type',axis = 1, inplace=True)
current_employees.drop('Gender',axis = 1, inplace=True)
current_employees.drop('Employment Status',axis = 1, inplace=True)
current_employees.drop('Bachelor\'s Degree Title',axis = 1, inplace=True)
current_employees.drop('Institution of Bachelor\'s',axis = 1, inplace=True)
current_employees.drop('Master\'s Degree Title',axis = 1, inplace=True)
current_employees.drop('Institution of Master\'s',axis = 1, inplace=True)
current_employees.drop('Marital Status',axis = 1, inplace=True)

former_employees.drop('Designation',axis = 1, inplace=True)
former_employees.drop('Technology',axis = 1, inplace=True)
former_employees.drop('Grade',axis = 1, inplace=True)
former_employees.drop('Division',axis = 1, inplace=True)
former_employees.drop('Departments',axis = 1, inplace=True)
former_employees.drop('Type',axis = 1, inplace=True)
former_employees.drop('Gender',axis = 1, inplace=True)
former_employees.drop('Employment Status',axis = 1, inplace=True)
former_employees.drop('Bachelor\'s Degree Title',axis = 1, inplace=True)
former_employees.drop('Institution of Bachelor\'s',axis = 1, inplace=True)
former_employees.drop('Master\'s Degree Title',axis = 1, inplace=True)
former_employees.drop('Institution of Master\'s',axis = 1, inplace=True)
.drop('Marital Status',axis = 1, inplace=True)

In [43]:
current_employees.head()

    Code       Employee Name Last Promoted in  Other Than Confiz Exp.  Confiz Work Experience (months)  Year of Bachelor's Year of Master's                  Present Address Permenant Address Date of Birth  Current Salary
0  12345          Marine Row       2013-09-30                      54                             12.0                2011             2016         Fortress Stadium, Lahore              same    1990-09-30           59000
1  23456  Iraida Ballesteros       2013-09-30                      34                             14.0                2012             2018  68, S block, Model town ,Lahore              same    1990-09-30           76543
2  34567      Marylee Wooden       2013-09-30                      34                             15.0                2013             2016                   Mall of Lahore              same    1990-09-30           34567
3  45678            John Doe       2013-09-30                      54                             14.0                2011             2014                    Emporium Mall              same    1990-09-30           76543
4  56789    Carlee Hambleton       2013-09-30                       5                             16.0                2009             2016                    Packages Mall              same    1990-09-30          234567

In [ ]:
former_employees.head()

In [44]:
current_employees['Last Promoted in'] =  pd.to_datetime(current_employees['Last Promoted in'], format='%Y-%m-%d')
current_employees['Date of Birth'] =  pd.to_datetime(current_employees['Date of Birth'], format='%Y-%m-%d')

current_employees['Year of Bachelor\'s'] =  pd.to_datetime(current_employees['Date of Birth'], format='%Y')
current_employees['Year of Master\'s'] =  pd.to_datetime(current_employees['Date of Birth'], format='%Y')

current_employees['Today'] = today
current_employees['Today'] =  pd.to_datetime(current_employees['Today'], format='%Y-%m-%d')

former_employees['Last Promoted in'] =  pd.to_datetime(current_employees['Last Promoted in'], format='%Y-%m-%d')
former_employees['Date of Birth'] =  pd.to_datetime(current_employees['Date of Birth'], format='%Y-%m-%d')

former_employees['Year of Bachelor\'s'] =  pd.to_datetime(current_employees['Date of Birth'], format='%Y')
former_employees['Year of Master\'s'] =  pd.to_datetime(current_employees['Date of Birth'], format='%Y')

former_employees['Today'] = today
former_employees['Today'] =  pd.to_datetime(current_employees['Today'], format='%Y-%m-%d')

In [45]:
current_employees['Months Since Last Promotion'] = current_employees['Today'] - current_employees['Last Promoted in'] 
current_employees['Age'] = current_employees['Today'] - current_employees['Date of Birth']
current_employees['Months Since Bachelors'] = current_employees['Today'] - current_employees['Year of Bachelor\'s']
current_employees['Months Since Masters'] = current_employees['Today'] - current_employees['Year of Master\'s']

current_employees['Months Since Last Promotion'] = current_employees['Months Since Last Promotion'] / np.timedelta64(1,'M')
current_employees['Age'] = current_employees['Age'] / np.timedelta64(1,'M')
current_employees['Months Since Bachelors'] = current_employees['Months Since Bachelors'] / np.timedelta64(1,'M')
current_employees['Months Since Masters'] = current_employees['Months Since Masters'] / np.timedelta64(1,'M')

former_employees['Months Since Last Promotion'] = former_employees['Today'] - former_employees['Last Promoted in'] 
former_employees['Age'] = former_employees['Today'] - former_employees['Date of Birth']
former_employees['Months Since Bachelors'] = former_employees['Today'] - former_employees['Year of Bachelor\'s']
former_employees['Months Since Masters'] = former_employees['Today'] - former_employees['Year of Master\'s']

former_employees['Months Since Last Promotion'] = former_employees['Months Since Last Promotion'] / np.timedelta64(1,'M')
former_employees['Age'] = former_employees['Age'] / np.timedelta64(1,'M')
former_employees['Months Since Bachelors'] = former_employees['Months Since Bachelors'] / np.timedelta64(1,'M')
former_employees['Months Since Masters'] = former_employees['Months Since Masters'] / np.timedelta64(1,'M')

In [46]:
current_employees['Same City'] = np.where(current_employees['Permenant Address']=='same', 1, 0)
former_employees['Same City'] = np.where(current_employees['Permenant Address']=='same', 1, 0)

In [44]:
#current_employees['Distance from Office'] = 7

In [47]:
current_employees.drop('Today',axis = 1, inplace=True)
current_employees.drop('Date of Birth',axis = 1, inplace=True)
current_employees.drop('Last Promoted in',axis = 1, inplace=True)
current_employees.drop('Year of Bachelor\'s',axis = 1, inplace=True)
current_employees.drop('Year of Master\'s',axis = 1, inplace=True)
current_employees.drop('Permenant Address',axis = 1, inplace=True)
current_employees.drop('Present Address',axis = 1, inplace=True)

former_employees.drop('Today',axis = 1, inplace=True)
former_employees.drop('Date of Birth',axis = 1, inplace=True)
former_employees.drop('Last Promoted in',axis = 1, inplace=True)
former_employees.drop('Year of Bachelor\'s',axis = 1, inplace=True)
former_employees.drop('Year of Master\'s',axis = 1, inplace=True)
former_employees.drop('Permenant Address',axis = 1, inplace=True)
former_employees.drop('Present Address',axis = 1, inplace=True)

In [48]:
current_employees['Churn'] = int(0)
former_employees['Churn'] = int(1)

In [50]:
current_employees.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 0 to 100
Data columns (total 11 columns):
Code                               87 non-null int64
Employee Name                      87 non-null object
Other Than Confiz Exp.             87 non-null int64
Confiz Work Experience (months)    87 non-null float64
Current Salary                     87 non-null int64
Months Since Last Promotion        87 non-null float64
Age                                87 non-null float64
Months Since Bachelors             87 non-null float64
Months Since Masters               87 non-null float64
Same City                          87 non-null int32
Churn                              87 non-null int64
dtypes: float64(5), int32(1), int64(4), object(1)
memory usage: 7.8+ KB

In [ ]:
former_employees.info()

In [51]:
current_employees_extended = current_employees.copy()
former_employees_extended = former_employees.copy()

    Code       Employee Name  Other Than Confiz Exp.  Confiz Work Experience (months)  Current Salary  Months Since Last Promotion         Age  Months Since Bachelors  Months Since Masters  Same City  Churn
0  12345          Marine Row                      54                             12.0           59000                    74.580587  350.594468              350.594468            350.594468          1      0
1  23456  Iraida Ballesteros                      34                             14.0           76543                    74.580587  350.594468              350.594468            350.594468          1      0
2  34567      Marylee Wooden                      34                             15.0           34567                    74.580587  350.594468              350.594468            350.594468          1      0
3  45678            John Doe                      54                             14.0           76543                    74.580587  350.594468              350.594468            350.594468          1      0
4  56789    Carlee Hambleton                       5                             16.0          234567                    74.580587  350.594468              350.594468            350.594468          1      0

In [52]:
current_employees_extended = current_employees_extended.join(Designation)
current_employees_extended = current_employees_extended.join(Technology)
current_employees_extended = current_employees_extended.join(Grade)
current_employees_extended = current_employees_extended.join(Division)
current_employees_extended = current_employees_extended.join(Departments)
current_employees_extended = current_employees_extended.join(Type)
current_employees_extended = current_employees_extended.join(Gender)
current_employees_extended = current_employees_extended.join(Employment)
current_employees_extended = current_employees_extended.join(Bachelor_Title)
current_employees_extended = current_employees_extended.join(Bachelor_Institution)
current_employees_extended = current_employees_extended.join(Master_Title)
current_employees_extended = current_employees_extended.join(Master_Institution)
current_employees_extended = current_employees_extended.join(Marital_Status)

former_employees_extended = former_employees_extended.join(Designation)
former_employees_extended = former_employees_extended.join(Technology)
former_employees_extended = former_employees_extended.join(Grade)
former_employees_extended = former_employees_extended.join(Division)
former_employees_extended = former_employees_extended.join(Departments)
former_employees_extended = former_employees_extended.join(Type)
former_employees_extended = former_employees_extended.join(Gender)
former_employees_extended = former_employees_extended.join(Employment)
former_employees_extended = former_employees_extended.join(Bachelor_Title)
former_employees_extended = former_employees_extended.join(Bachelor_Institution)
former_employees_extended = former_employees_extended.join(Master_Title)
former_employees_extended = former_employees_extended.join(Master_Institution)
former_employees_extended = former_employees_extended.join(Marital_Status)

In [14]:
# new_df = current_employees.drop('Code', axis = 1)
# new_df.drop('Employee Name', axis = 1, inplace = True)
# new_df.drop('Months Since Masters', axis = 1, inplace = True)
# new_df.drop('Age', axis = 1, inplace = True)

# new_df.head()

In [15]:
# from lifelines import CoxPHFitter

# # Using Cox Proportional Hazards model
# cph = CoxPHFitter()
# cph.fit(new_df, 'Confiz Work Experience (months)', event_col='Churn')
# cph.print_summary()

In [ ]:
former_employees.info()

In [ ]:
current_employees.info()

In [ ]:
current_employees.merge(former_employees, on=['Code'], how='left')

In [ ]:
bigdata = pd.concat([current_employees, former_employees], ignore_index=True, sort =False)

In [ ]:
T = df['Confiz Work Experience (months)']
E = df['Churn']

kmf = KaplanMeierFitter().fit(T, E, label='KaplanMeierFitter')
kmf.plot_survival_function()

In [ ]:
kmf.plot(show_censors=True, censor_styles={'ms': 6, 'marker': 's'})